@import "variable.styl"
@import "animate.styl"

html
  height 100%

body
  height 100%
  &::-webkit-scrollbar
    width 10px 
    height 10px
  &::-webkit-scrollbar-thumb
    border-radius 10px
    -webkit-box-shadow inset 0 0 5px rgba(241, 243, 244, .1)
    background-color #D5D5D5 

[v-cloak] 
  display none;
.margin5
  margin 5px
.margin10
  margin 10px
.mg-30
  margin 30px
.mglr-30
  margin 0 30px
.marginT5
  margin-top 5px
.marginT10
  margin-top 10px
.marginT20
  margin-top 20px
.marginT30 
  margin-top 30px
.marginT40
  margin-top 40px

.marginB5
  margin-bottom 5px
.marginB10 
  margin-bottom 10px
.marginB20 
  margin-bottom 20px
.marginB30
  margin-bottom 30px

.marginL5
  margin-left 5px
.marginL10 
  margin-left 10px
.marginL20
  margin-left 20px
.marginL30
  margin-left 30px

.marginR5
  margin-right 5px
.marginR10
 margin-right 10px
.marginR20
 margin-right 20px
.marginR30
 margin-right 30px
 
// 清除浮动
.clearfix 
  &::after 
    display block
    content ''
    width 100%
    height 0
    clear both
// 左浮动
.lt
  float left

// 右浮动
.rt
  float right
//文字居中
.center
  text-align center
// 文字一行打省略号
.ellipsis1
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
  display block

// 文字两行打省略号
.ellipsis2
  display -webkit-box
  -webkit-box-orient vertical  
  -webkit-line-clamp 2
  overflow hidden

// 文字三行打省略号
.ellipsis3
  display -webkit-box
  -webkit-box-orient vertical  
  -webkit-line-clamp 3
  overflow hidden

.el-switch__core:after 
  content ""
  position absolute
  
  top 1px
  left 1px
  border-radius 100%
  transition all .3s
  width 16px
  height 16px
  background-color #fff

.el-select__input 
  vertical-align baseline

.el-switch.is-checked .el-switch__core:after 
  left 100%
  margin-left -17px

.table-design-container
  .el-scrollbar__wrap
    overflow-x hidden!important

.launch-container
  .el-scrollbar__wrap
    overflow-x: hidden !important

.el-menu 
  border-right none
.el-table
  .el-table__header-wrapper
    background-color #F2F6FC !important  
  th
    background-color #F2F6FC !important

.el-table td, .el-table th
  padding 6px 0 !important

.el-table__empty-block
  min-height 120px
// .el-menu--popup
//   min-width 0 !important

.el-dialog
  max-height 70vh
  overflow-y auto
  .el-dialog__footer
    text-align center

.el-dialog.is-fullscreen 
  max-height 100%
  overflow auto

.el-dialog__body
  // max-height 70vh !important
  padding 0 20px !important
  // box-sizing border-box
  overflow auto


input::-ms-clear
  display none

input::-webkit-search-cancel-button
  display none

.el-message-box__message
  word-break break-all
  
/*设置tooltip的宽度*/
.el-tooltip__popper {
  max-width 700px
  line-height 180%
}


/*设置滚动条的样式*/
::-webkit-scrollbar
  width 10px !important
  height 10px !important

/*定义滚动条轨道 内阴影*/
::-webkit-scrollbar-thumb
  border-radius 8px
  -webkit-box-shadow inset 0 0 5px rgba(241, 243, 244, .1)
  background #CBCBD6
/*定义滑块 内阴影*/
::-webkit-scrollbar-thumb
  -webkit-box-shadow inset 0 0 6px rgba(0,0,0,0)
  background-color #D5D5D5
 