@import "variable.styl"

// 背景图片
bg-image($url)
  background-image: url($url + "@2x.png")
  @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
    background-image: url($url + "@3x.png")

// 不换行
no-wrap()
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap

// 扩展点击区域
extend-click()
  position: relative
  &:before
    content: ''
    position: absolute
    top: -10px
    left: -10px
    right: -10px
    bottom: -10px

// 1px
border-1px()
  border: 1px solid rgba(255, 255, 255, 0.1)

// 下1px
border-bottom-1px()
  border-bottom: 1px solid rgba(0, 0, 0, 0.1)

// 清除浮动
clear-float()
  content: " "
  display: block
  height: 0
  clear: both

// 盒子阴影
box-shadow()
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04)

enter-active()
  transition: all 0.2s linear
  transform: translate3d(0, 0, 0)

leave-active()
  opacity: 0
  transform: translate3d(100%, 0, 0)


.click-able
  &:active
    opacity .7
    &::before
      opacity .7

.bold 
  font-weight bold

.flip 
  transition all .1s
  transform rotate(-180deg)
  -webkit-transform rotate(-180deg)
  display inline-block


.not_found
  position relative
  z-index 1100
  &::before
    content ''
    position absolute
    width 110px
    height 95px
    // background-image url("@imgUrl/not_found.png")
    background-size cover
    top 50%
    left 50%
    transform translate(-50%,-50%)
    -webkit-transform translate(-50%,-50%)
  &::after
    content '暂无内容~'
    position absolute
    top 50%
    left 50%
    transform translate(-50%,-50%)
    -webkit-transform translate(-50%,-50%)
    font-size 14px
    margin-top 65px
    color #999
    text-align center
    margin-left 5px


.form 
  .form_row 
  display flex
  display -webkit-flex
  background-color #fff
  height 45px
  padding-left 3.3%
  padding-right 3.3%
  box-sizing border-box
  position relative
  align-items center
  -webkit-align-items center
  .row_label 
    padding-left 2px
    padding-right 12px
    font-size 14px
  .radio 
    line-height 1
    margin-right 15px
  .row_grid 
    flex 1
    -webkit-flex 1
    -webkit-box-flex 1
    font-size 14px
    color #333333
    align-items center
    -webkit-align-items center
    display flex
    display -webkit-flex
    &.item 
      display block
  &:last-child 
    &::after 
      background transparent
  &::after 
    content ''
    position absolute
    height 1px
    bottom 0
    left 3.3%
    right 0
    background @color-border
    
  

