@import "variable.styl"

// 背景图片
bg-image($url)
  background-image: url($url + "@2x.png")
  @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
    background-image: url($url + "@3x.png")

// 不换行
no-wrap()
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap

// 防止闪烁
[v-clock] {
  display: none;
}

// 扩展点击区域
extend-click()
  position: relative
  &:before
    content: ''
    position: absolute
    top: -10px
    left: -10px
    right: -10px
    bottom: -10px

// 1px
border-1px()
  border: 1px solid rgba(255, 255, 255, 0.1)

// 下1px
border-bottom-1px()
  border-bottom: 1px solid rgba(0, 0, 0, 0.1)

// 清除浮动
clear-float()
  content: " "
  display: block
  height: 0
  clear: both

// 盒子阴影
box-shadow()
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04)

enter-active()
  transition: all 0.2s linear
  transform: translate3d(0, 0, 0)

leave-active()
  opacity: 0
  transform: translate3d(100%, 0, 0)

.line-bottom
  border-bottom 1px solid rgba(0,0,0,.04)

.line-bottom-dotted
  border-bottom 1px dotted rgba(0,0,0,.2)  

.box-shadow
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.2)

.click-able
  &:active
    opacity .7
    &::before
      opacity .7

.bold 
  font-weight bold

.flip 
  transition all .1s
  transform rotate(-180deg)
  -webkit-transform rotate(-180deg)
  display inline-block


.not_found
  position relative
  z-index 1100
  &::before
    content ''
    position absolute
    width 85px
    height 60px
    // background-image url("@imgUrl/not_found.png")
    background-image url("~@/common/images/notData_images/notData.png")
    background-size cover
    top 50%
    left 50%
    transform translate(-50%,-50%)
    -webkit-transform translate(-50%,-50%)
    z-index: -1
  &::after
    content '暂无数据~'
    position absolute
    top 50%
    left 50%
    transform translate(-50%,-50%)
    -webkit-transform translate(-50%,-50%)
    font-size 12px
    margin-top 45px
    color #999
    text-align center
    margin-left 5px

/* flex布局 */
.u-f,.u-f-ac,.u-f-jc,.u-f-ajc,.u-f-jst,.u-f-jfd,.u-f-jsb,.u-f-jsr{
	display: flex;
}
/* 垂直居中 */
.u-f-ac,.u-f-ajc{
	align-items: center
}
/* 水平居中 */
.u-f-jc,.u-f-ajc{
	justify-content: center
}

.u-f-jst {
  justify-content: flex-start
}

.u-f-jfd {
  justify-content: flex-end
}

.u-f-jsb{
	justify-content: space-between
}

.u-f-jsr {
  justify-content: space-around
}

/* flex布局 */
.u-fi,.u-fi-ac,.u-fi-jc,.u-fi-ajc,.u-fi-jst,.u-fi-jfd,.u-fi-jsb,.u-fi-jsr{
	display: inline-flex;
}
/* 垂直居中 */
.u-fi-ac,.u-fi-ajc{
	align-items: center
}
/* 水平居中 */
.u-fi-jc,.u-fi-ajc{
	justify-content: center
}

.u-fi-jst {
  justify-content: flex-start
}

.u-fi-jfd {
  justify-content: flex-end
}

.u-fi-jsb{
	justify-content: space-between
}

.u-fi-jsr {
  justify-content: space-around
}






.u-f1{
	flex-grow: 1
}

.u-f0 {
	// 不压缩
	flex-shrink: 0
}

// 方向：垂直方向
.u-f-column{
	flex-direction: column
}

// 换行
.u-f-wrap {
  flex-wrap: wrap !important
}



.bgAnimation {
  position: relative;
  &:active:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    bottom: 0;        
    opacity: 0.5;
    background:#e2e6e7;
    animation: testBgAnimation .5s 1;
    animation-fill-mode: forwards
  }
}

@keyframes bgAnimation {
  0% {
    width: 1%;
    opacity: 0.5;
  }
  100% {
      width: 100%;
      opacity: 0.5;
  }
}


.form 
  .form_row 
  display flex
  display -webkit-flex
  background-color #fff
  height 45px
  padding-left 3.3%
  padding-right 3.3%
  box-sizing border-box
  position relative
  align-items center
  -webkit-align-items center
  .row_label 
    padding-left 2px
    padding-right 12px
    font-size 14px
  .radio 
    line-height 1
    margin-right 15px
  .row_grid 
    flex 1
    -webkit-flex 1
    -webkit-box-flex 1
    font-size 14px
    color #333333
    align-items center
    -webkit-align-items center
    display flex
    display -webkit-flex
    &.item 
      display block
  &:last-child 
    &::after 
      background transparent
  &::after 
    content ''
    position absolute
    height 1px
    bottom 0
    left 3.3%
    right 0
    background @color-border
    
  

