// 颜色定义规范
$color = #3B8BE3
// $color-background = #2d3a4b
$color-background = #FFFFFF
$color-background-b = #3b8be3
$color-highlight-background = #333
$color-dialog-background = #666
$color-theme = #ffcd32
$color-theme-d = #f0eff4
$color-sub-theme = #d93f30
$color-text = #000
$color-text-d = rgba(255, 255, 255, 0.3)
$color-text-l = rgba(255, 255, 255, 0.5)
$color-text-ll = rgba(255, 255, 255, 0.8)
$color-input = #454545
$color-border = #d8dce5
$color-title-bg = #e6e5e5

$color-b = #00aeff
$color-y = #f7d60c
$color-r = #ff8577
$color-o = #ff943e
$color-g = #f0eff4

//字体定义规范


//******边框样式******/
 $color-border= #dddddd
 $color-border1 = #ccc
 $color-line = #EEEEEE
 $border = 1px solid  $color-border
 $border1 = 1px solid #DFDFDF
 $border-line = 1px solid  $color-line
 $border-dot = 1px dotted #EFF0F2
//******背景样式******/
 $color-bg-body = #F5F5F5
 $color-bg-item = rgb(3, 3, 3)
 $color-head = #F8F8F8
 $color-white = #FFFFFF
 $color-bg1 = #f2f2f2
//**********字体样式***************/
//  $color-font1 = #594A23
//  $color-font2 = #999
//  $color-font3 =#8d8d8d
//  $color-font4 =#bcbcbc
//  $color-font5 =#333
//  $color-font6 =#ec1e28
//  $color-font7 =#EB637A
//  $color-font8 = #909090

$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px

//************************notDada*********//
//  $imgUrl ='http =//pa00p69mh.bkt.clouddn.com/'

